<div class="header">

  <mat-toolbar>



    <button mat-button class="DragHub" [routerLink]="['home']">DrugHub</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['drugs']">მედიკამენტები</button>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" [routerLink]="['medicalField']" >განყოფილებები</button>
    <mat-menu #menu="matMenu">
      <button class="menuitem" mat-menu-item>პედიატრია</button>
      <button class="menuitem"  mat-menu-item>გინეკოლოგია</button>
      <button class="menuitem"  mat-menu-item>ოფთალმოლოგია</button>
      <button class="menuitem"  mat-menu-item>დერმატოლოგია</button>
      <button class="menuitem"  mat-menu-item>კარდიოლოგია</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['aboutus']" >ჩვენს შესახებ</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['contact']">კონტაქტი</button>



  </mat-toolbar>

</div>