<div class="header">
  
    <mat-toolbar >
     
      
      
      <button mat-button class="DragHub">DrugHub</button>
      <span class="example-spacer"></span>
      <button mat-button>მედიკამენტები</button>
      <span class="example-spacer"></span>
      <button mat-button>მიმართულებები</button>
      <span class="example-spacer"></span>
      <button mat-button>ჩვენს შესახებ</button>
      <span class="example-spacer"></span>
      <button mat-button>კონტაქტი</button>
      
      
      
    </mat-toolbar>
  
</div>
