<div id="cover">
    <img class="coverImage" src="../../assets/dermatology.jpg" alt="">
</div>
<div class="all">

    
    
    <br>
    
    <br>
    
    <div class="about">
        <h3>დერმატოლოგი  </h3>
        <br>
        <p> ექიმი სპეციალისტი, რომელიც მკურნალობს კანის, თმის, ფრჩხილების და ლორწოვანი გარსის დაავადებებს, კერძოდ:</p>
        <ul>
            <li>აკნე;</li>
            <li>დერმატიტი, ეგზემა;</li>
            <li>სოკოვანი ინფექციები;</li>
            <li>თმის ცვენა;</li>
            <li>ფრჩხილის დაავადებები (სოკოვანი);</li>
            <li>ფსორიაზი;</li>
            <li>კანის სიმსივნეები;</li>
            <li>მარტივი ჰერპესი და ზოსტერი;</li>
            <li>ვიტილიგო;</li>
            <li>მეჭეჭები;</li>
          </ul>

          <br>
          <br>
          <br>
          <h3>რა სახის დიაგნოსტიკური კვლევები შესაძლოა დანიშნოს დერმატოლოგმა?  </h3>
          <br>
          <br>
        <p> ლაბორატორიული ანალიზები</p>
        <ul>
            <li>კანის ბიოფსია;</li>
            <li>ანაფხეკის გამოკვლევა ( სოკოზე);</li>
            
          </ul>
          <br>
          <br>
          
          
        <p> ინსტრუმენტული გამოკვლევა</p>
        <ul>
            <li>კრიოთერაპია- თხევადი აზოტის გამოყენებით ადგილობრივი მოყინვა;</li>
            
          </ul>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>


<div class="doctor">
    <h3>მოხალისე ექიმები</h3>
    <br>
    <br>
    

<table>
  <tr>
    <th>ფოტო სურათი</th>
    <th>სახელი გვარი</th>
    <th>მობილურის ნომერი</th>
    <th>ხელმისაწვდომია</th>
  </tr>
  <tr>
    <td><img class="docimg" src="../../assets/mdoc.jpg" alt=""></td>
    <td>კახი კანაძე</td>
    <td>+995 599 33 33 33</td>
    <th>13:00 - 16:00</th>
  </tr>
  <tr>
    <td><img class="docimg" src="../../assets/wdoc.jpg" alt=""></td>
    <td>ქეთევან ექიმაძე</td>
    <td>+995 599 11 22 99</td>
    <th>12:00 - 15:00</th>
  </tr>
  <tr>
    <td><img class="docimg" src="../../assets/mdoc.jpg" alt=""></td>
    <td>დოდო გეგეშიძე</td>
    <td>+995 599 99 99 99</td>
    <td> 16:00 - 18:00 </td>
  </tr>
 
</table>
</div>
