form {
    margin: 50px auto;
    width: 20%;
    background-color: rgb(228, 228, 228);
}

mat-form-field {
    width: 100%;
}

mat-icon {
    margin-left: 5px;
}

button {
    width: 100%;
}
/* input{
    
} */