.title{
    width: 40%;
    margin: 0 auto;
    font-size:1.2rem;
    display: flex;
    justify-content: space-between;
}
hr{
    border: none; 
    height: 0.5px; 
    background-color: white;
    width: 40%;
    margin: 2vh auto;
}
.icons{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.icon{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    
}
.opacity{
    opacity: 0.7;
}
/* Users */
.usersGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    justify-content:center;

}
.singleUser{
    width: 30%;
    margin: 2vh auto;
}

@media only screen and (max-width: 900px) {
    .singleUser{
        width: 100%;
    }
}


.input{
    display: block;
    height: 4vh;
    margin: 8vh auto 3vh auto;
    width: 20%;
}
.icon{
    font-size: 2.2em;
}

input {
    border-bottom: 1.5px solid #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: inherit;
    color:#ffffff ;
    font-size: 1.2rem;
    font-weight: 400;
    margin:auto auto;
    width: 80%;
   
}
input:focus {
    outline: 0 none !important;
}

.searchHistory{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 4vh auto;
    align-items: center;
}
.singleSearchHistory{
    background-color: rgba(235, 233, 233, 1);
    margin: 0 5%;
    height: auto;
    width: auto;
    padding: 2vh 1vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 7px;
    color: #000428;
}
.singleSearchHistory p {
    width: auto;
    margin: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 400;
}
.searchesTitle{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
button:focus{
    outline: none;
}
button{
    border: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
#searchBtn{
    background-color: transparent;
}