/* You can add global styles to this file, and also import other style files */
html, body{margin-top: 0; padding: 0;}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* html, body { height: 100%; } */
html,body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(223, 223, 223);

}
button:focus{
   outline: none;
}

div:focus{
    outline: none;
}
